* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #178a94;
  color: white;
}

.title {
  font-family: "Righteous", cursive;
  padding: 15px 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 15px;
  border-radius: 15px;
  background-color: #2b374b;
  width: 500px;
  min-height: 300px;
  position: relative;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 60px;
}

.form {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}

#myText {
  padding: 10px 60px;
  border: none;
  border-radius: 15px;
}

#myButton {
  background-color: #d03161;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  margin-left: 20px;
}
